#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.elevation {
  z-index: 1;
  position: absolute;
  bottom: 36px;
  left: 9px;
  width: calc(100vw - 24px);
}

.elevation.collapsed {
  max-width: 266px;
}

.routing {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 266px;
  min-width: 266px;
}

.search-result {
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 278px;
}

.point-list {
  mask-image: linear-gradient(to bottom, transparent 0%, white 3%, white 92%, transparent 100%);
}
