#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

mapbox-search-box {
  width: 100%;
}

mapbox-search-box * {
  max-height: 32px !important;
}

mapbox-search-box [class$="--SearchBox"] {
  border: 1px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
}

mapbox-search-box [class$="--SearchBox"]:focus {
  border: 1px solid black !important;
}

mapbox-search-box [class$="--SearchBox"] input:focus {
  border: none !important;
}

mapbox-search-box [class$="--ActionIcon"]:hover {
  background-color: var(--color-base-300);
  border-radius: 1rem;
  cursor: pointer;
}

mapbox-search-box [class$="--ActionIcon"]:hover svg {
  color: var(--color-primary-content) !important;
}

mapbox-search-box [class$="--SearchIcon"] {
  transform: scale(0.8);
}
mapbox-search-box [class$="--ClearBtn"] {
  transform: scale(0.55);
}

.nav-menu {
  max-width: 266px;
}

.elevation {
  z-index: 1;
  position: absolute;
  bottom: 36px;
  left: 12px;
  width: calc(100vw - 24px);
}

.elevation.collapsed {
  max-width: 266px;
}

.routing {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.search-result {
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 278px;
}
