#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.elevation {
  position: absolute;
  bottom: 24px;
  left: 9px;
  width: calc(100vw - 24px);
}

.elevation.collapsed {
  width: 266px;
}

.routing {
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
}

.feature-card {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 282px;
  width: 266px;
}

.point-list {
  mask-image: linear-gradient(to bottom, transparent 0%, white 3%, white 92%, transparent 100%);
}

@media (max-width: 640px) {
  .feature-card {
    top: 10.625rem;
    left: 10px;
  }

  .elevation.collapsed {
    max-width: 64px;
  }
}
