#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

mapbox-search-box * {
  max-height: 32px !important;
}

mapbox-search-box [class$="--SearchBox"] {
  border: 1px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
}

mapbox-search-box [class$="--SearchBox"]:focus {
  border: 1px solid black !important;
}

mapbox-search-box [class$="--SearchBox"] input:focus {
  border: none !important;
}

.auth {
  position: absolute;
  right: 12px;
  top: 12px;
}

.elevation {
  z-index: 1;
  position: absolute;
  bottom: 36px;
  left: 12px;
  width: calc(100vw - 24px);
}

.elevation.collapsed {
  max-width: 278px;
}

.routing {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.search-result {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 324px;
}
