@import "tailwindcss";
@plugin "daisyui" {
  themes: cmyk;
}

@plugin "daisyui/theme" {
  name: "bumblebees";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(45% 0.085 224.283);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(45% 0.085 224.283);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

html {
  font-size: 80%;
}

mapbox-search-box {
  width: 100%;
}

mapbox-search-box * {
  max-height: 28px !important;
}

mapbox-search-box [class$="--SearchBox"] {
  border: 0.5px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
  border-radius: 0.25rem !important;
}

mapbox-search-box [class$="--SearchBox"]:focus {
  border: 0.5px solid black !important;
}

mapbox-search-box [class$="--SearchBox"] input:focus {
  border: none !important;
}

mapbox-search-box [class$="--ActionIcon"]:hover {
  background-color: var(--color-base-300);
  border-radius: 1rem;
  cursor: pointer;
}

mapbox-search-box [class$="--ActionIcon"]:hover svg {
  color: var(--color-primary-content) !important;
}

mapbox-search-box [class$="--SearchIcon"] {
  fill: var(--color-neutral);
  transform: scale(0.8);
}

mapbox-search-box [class$="--ClearBtn"] {
  transform: scale(0.55);
}

mapbox-search-listbox [class$="--Results"] {
  border: 0.5px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
  border-radius: 0.25rem !important;
  top: 100px !important;
  min-width: initial !important;
  max-width: 246px !important;
}