@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee;
}

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0.023 329.708);
  --color-base-200: oklch(21% 0.021 329.708);
  --color-base-300: oklch(16% 0.019 329.708);
  --color-base-content: oklch(98% 0.026 102.212);
  --color-primary: oklch(71.996% 0.123 62.756);
  --color-primary-content: oklch(14.399% 0.024 62.756);
  --color-secondary: oklch(34.465% 0.029 199.194);
  --color-secondary-content: oklch(86.893% 0.005 199.194);
  --color-accent: oklch(42.621% 0.074 224.389);
  --color-accent-content: oklch(88.524% 0.014 224.389);
  --color-neutral: oklch(98% 0.026 102.212);
  --color-neutral-content: oklch(27% 0.077 45.635);
  --color-info: oklch(79.49% 0.063 184.558);
  --color-info-content: oklch(15.898% 0.012 184.558);
  --color-success: oklch(74.722% 0.072 131.116);
  --color-success-content: oklch(14.944% 0.014 131.116);
  --color-warning: oklch(88.15% 0.14 87.722);
  --color-warning-content: oklch(17.63% 0.028 87.722);
  --color-error: oklch(77.318% 0.128 31.871);
  --color-error-content: oklch(15.463% 0.025 31.871);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

html {
  font-size: 80%;
}

.select:focus,
.select:focus-within,
.input:focus,
mapbox-search-box [class$="--SearchBox"]:focus-within {
  border: 1px solid var(--input-color) !important;
  outline: 1px solid var(--input-color) !important;
  outline-offset: 1px !important;
}

mapbox-search-box {
  width: 100%;
}

mapbox-search-box * {
  max-height: 28px !important;
}

mapbox-search-box [class$="--SearchBox"] {
  border: 0.5px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
  border-radius: 0.25rem !important;
}

mapbox-search-box [class$="--SearchBox"]:focus {
  border: 0.5px solid black !important;
}

mapbox-search-box [class$="--SearchBox"] input:focus {
  border: none !important;
}

mapbox-search-box [class$="--ActionIcon"]:hover {
  background-color: var(--color-base-300);
  border-radius: 1rem;
  cursor: pointer;
}

mapbox-search-box [class$="--ActionIcon"]:hover svg {
  color: var(--color-primary-content) !important;
}

mapbox-search-box [class$="--SearchIcon"] {
  fill: var(--color-neutral);
  transform: scale(0.8);
}

mapbox-search-box [class$="--ClearBtn"] {
  transform: scale(0.55);
}

mapbox-search-listbox [class$="--Results"] {
  border: 0.5px solid color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
  border-radius: 0.25rem !important;
  top: 100px !important;
  min-width: initial !important;
  max-width: 246px !important;
}

/* fix weird daisyUI misalignment */
.indicator-middle {
  transform: translateY(-6px);
}
